body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.App{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,46,121,1) 35%, rgba(0,212,255,1) 100%); 
  box-shadow: 3px 3px gray, -1em 0 0.4em lightgray;
  color: white;
  width: 70%;
  margin-top: 60px;
  margin-left: 180px;
  border-radius: 10px;
  
}
h1{
  text-align: center;
  margin: 20px;
  padding-top: 20px;
}

.form-group{
  padding: 10px;
  width: 90%;
  margin: 0 auto;
}

.btn{
  margin: 10px;
}

